@media screen and (max-width: 960px) {
    .encabezado {
        padding: 20px 0 15px;
    }
}

.encabezado {
    text-align: center;
    width: 100%;
    padding: 33px 0 0;
    transition: all .4 ease;
    -webkit-transition: all .4 ease;
}


header {
    display: block;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 1000;
}



@media screen and (max-width: 1280px) {
    nav>li>a {
        margin: 0 0px;
    }
}

@media screen and (max-width: 960px) {
    nav>li>a {
        font-size: 1.8rem;
        display: inline-block;
        padding: 5px 0 6px;
    }
}

@media screen and (max-width: 1280px) {
    nav>li>a {
        margin: 0 14px;
    }
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media screen and (min-width:961px) {

    #menu_navegacion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin-top: 25px;
    }
}

.encabezado {
    text-align: center;
    width: 100%;
    padding: 33px 0 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#menu_navegacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 25px;
    list-style: none;
    flex-wrap: wrap;
}

#menu_navegacion>li {
    padding: 10px 14px 28px;
    display: flex;

}

ul>li>a {
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 0;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 14px 28px;
    margin: 0 20px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: black;
    display: inline-block;
    position: relative;
    color: #333;
    text-decoration: none;
}

ul>li>a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .2s;
}

ul>li>a:hover:after {
    width: 100%;
    background: #333;
}

.div_boton {
    background-color: #E3E3E3;
    width: fit-content;
    border: 1px black solid;
    border-radius: 15px;
    padding: 20px 5px 20px 10px;
    position: relative;
    text-align: center;
    left: 70%;
    top: 10%;
    color: black;
    font-weight: bolder;
}

.boton_info {
    background-color: black;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin-top: 5px;
}

.boton_info:hover {
    cursor: pointer;
}

.contenedor_boton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../media/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 820px;

}

.contenedor_productos>div {
    float: left;
    width: 33%;
}

.contenedor_productos {
    text-align: center;
    width: 100%;
    height: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.img_2 {
    border-top: 3px palevioletred solid;
    border-bottom: 3px palevioletred solid;
}

.div_texto {
    width: 100%;
    height: 600px;
    position: relative;
    left: 20%;
}

.div_texto>p {
    width: 25%;
    float: left;
}

.texto {
    float: left;
    width: 70%;
    margin-left: 5%;
}

.texto>p {
    width: 700px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.texto>p::first-letter {
    font-size: 80px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    color: red;
    margin-right: 10px;
}

.div_imagenes {
    position: relative;
}

.primera_fila {
    width: 100%;

}

.segunda_fila {
    width: 100%;
}

footer {
    float: left;
    background-color: #18171C;
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
}

.contenedor_imagenes {
    float: left;
    width: 100%;
}

.contenedor_imagenes>div {
    display: flex;
    justify-content: center;
    align-items: center;
}